<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceClient" type="RFramework.ServiceClient.ServiceClientSectionHandler,RFramework.ServiceClient" />
  </configSections>
  <ServiceClient>
    <add AppId="900001" AppSecret="88B2A59E-E1FB-4A0B-ABEB-485ACB316549" ServiceAuth="http://localhost:9003/Authorize/Auth" ServiceConfigApi="http://localhost:9003/ConfigInfo/GetServiceConfig" />
  </ServiceClient>
</configuration>